{% extends template %}

{% block content %}
    {% import component~'button.twig' as Button %}
    {% import component~'form.twig' as form %}
    <section class="s-content s-content--top-padding s-content--narrow">
        <div class="row entries-wrap wide">
                <div class="col-md-12">
                    <a href="{{ returnurl }}">Retour</a>
                    <h2>
                        Liste des commentaires {% if filterid > 0 %}lié à l'article : {{ post.title }}{% endif %}
                    </h2>
                    <p></p>
                </div>

                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Auteur</th>
                                {% if not filterid %}
                                    <th scope="col">Article</th>
                                {% endif %}
                                <th scope="col">Date de création</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td>{{ comment.author.username }}</td>
                                    {% if not filterid %}
                                    <td>{{ comment.post.title }}</td>
                                    {% endif %}
                                    <td>{{ comment.date }}</td>
                                    <td>

                                        <button class='btn btn-primary' role='button' onclick="alert('{{ comment.content }}')">Voire</button>
                                        {% if comment.validate == false %}
                                            <form method="post" action="?p=admin_comments_valid" style="display: inline;">
                                                {{ form.value('id', comment.id) }}
                                                {{ form.value('filterid', filterid) }}
                                                {{ form.submit('Valider', 'success') }}
                                            </form>
                                        {% endif %}

                                        <form method="post" action="?p=admin_comments_delete" style="display: inline;">
                                            {{ form.value('id', comment.id) }}
                                            {{ form.value('filterid', filterid) }}
                                            {{ form.submit('Supprimer', 'danger') }}
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </section>

{% endblock %}