<!DOCTYPE HTML>
<html class="no-js" lang="fr">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="sweetalert2-8.0.5/sweetalert2.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">


    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body id="top">


    <!-- header
    ================================================== -->

    <header class="s-header header">
        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">
            <h2 class="header__nav-heading h6">Navigation</h2>
            <ul class="header__nav">
                <li class="{{ currentPage('home') }}"><a href="index.php?p=home" title="">Accueil</a></li>
                <li class="{{ currentPage('loop') }}"><a href="index.php?p=loop" title="">Article</a></li>
                {% if logged %}
                    <li class="{{ currentPage('account') }}"><a href="index.php?p=account" title="">Mon compte</a></li>
                    <li><a href="index.php?p=auth&action=logout" title="">Se déconnecter</a></li>
                {% else %}
                    <li class="{{ currentPage('auth') }}"><a href="index.php?p=auth&action=login" title="">Connection</a></li>
                {% endif %}
            </ul>
            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">
        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-four">
                    <ul class="footer-social">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/julienfernendes"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/Goodup302"><i class="fab fa-github"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCk7e908iaAlD0O1reOOqXNg"><i class="fab fa-youtube"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/JulienF85923276"><i class="fab fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-four">
                    <div class="text-center">
                        {% if logged_user.admin %}
                            <a href="index.php?p=admin_posts" title="">Administration</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-four">
                    <div class="s-footer__copyright">
                        <span>
                            Copyright &copy; <script>document.write(new Date().getFullYear());</script>
                            Tous les droits sont réservés.
                            {#<i class="fa fa-heart" aria-hidden="true"></i>
                            By <a target="_blank" href="http://goodup302.fr/">GoodUp302</a>#}
                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>
    </footer>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="sweetalert2-8.0.5/sweetalert2.all.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="js/script.js"></script>
</body>
</html>