{% extends template %}

{% block content %}
    <section class="s-content s-content--top-padding s-content--narrow">
        <div class="row entries-wrap wide">
            {{ alert.show() }}
            {% import component~'button.twig' as Button %}

            <div class="col-md-12 text-center">
                <img class="avatar-account" src="images\logo1.png" alt="" width="150" height="150">
                <div>
                    Nom et Prenom : {{ logged_user.username }}<br>
                    Pseudo : {{ logged_user.login }}<br>
                    Mot de passe : {{ logged_user.password }}<br>
                    Email : {{ logged_user.email }}<br>
                    Rang : {{ logged_user.admin }}
                </div>
            </div>

        </div>
    </section>

{% endblock %}