{% extends template %}

{% block content %}
    <section class="s-content s-content--top-padding s-content--narrow">
        <div class="row entries-wrap wide">
            {{ alert.show() }}
            {% import component~'button.twig' as Button %}

            <div class="col-md-12">
                <form action="index.php?p=auth&action={{ action }}" method="post">
                    {{ form.show() }}
                    {% if action == "login" %}
                        {{ Button.show("S'enregistrer", 'primary', 'index.php?p=auth&action=register') }}
                    {% elseif action == "register" %}
                        {{ Button.show("Renvoyer confirmation", 'primary', 'index.php?p=auth&action=confirm') }}
                    {% endif %}
                </form>
            </div>

        </div>
    </section>

{% endblock %}