{% macro input(name, label, type, value) %}
    <div class='form-group'>
        <label>{{ label }}</label>
        <input class='form-control' type="{{ type|default('text') }}" name="{{ name }}" value="{{ value }}" />
    </div>
{% endmacro %}


{% macro textarea(name, label, value, height) %}
    <div class='form-group'>
        <label>{{ label }}</label>
        <textarea class='full-width' style='height: {{ height|default(200) }}px;' name='{{ name }}'>{{ value }}</textarea>
    </div>
{% endmacro %}

{% macro select(name, label, items, currentItem) %}
    <div class="form-group">
        <label>{{ label }}</label>
        <select name="{{ name }}" class="form-control" >
            {% for item in items %}
                {% if item[0] == currentItem %}
                    <option style="font-weight: bold;" value="{{ item[0] }}" selected="selected">{{ item[1] }}</option>
                {% else %}
                    <option value="{{ item[0] }}">{{ item[1] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro value(id, value) %}
    <input  type='hidden' name='{{ id }}' value='{{ value }}'>
{% endmacro %}


{% macro submit(name, style) %}
    <button class='btn btn-{{ style|default('primary') }}' type='submit'>{{ name }}</button>
{% endmacro %}