{% extends template %}

{% block content %}
    {% import component~'button.twig' as Button %}
    {% import component~'form.twig' as form %}

    <section class="s-content s-content--top-padding s-content--narrow">
        <div class="row entries-wrap wide">
            <div class="col-md-12">
                <a href="index.php?p=admin_posts">Retour</a><br>
                {{ Button.show("Voir l'article", 'secondary', 'index.php?p=single&id='~post.id) }}
                {% if commentsnumber > 0 %}
                    {{ Button.show('Commentaires ('~commentsnumber~')', 'secondary', '?p=admin_comments&id='~post.id) }}
                {% endif %}
                <form method="post" action="?p=admin_posts_delete" style="display: inline;"
                    swa-title="Etes vous sur ?" swa-type="question" swa-color="#d33">
                    {{ form.value('id', post.id) }}
                    <button class='btn btn-danger swa-confirm' type='submit'>Supprimer</button>
                </form>
                <h2>Editer l'article</h2>
            </div>

            <div class="col-md-12">
                <form method="post">
                    {{ form.input('title', 'Titre', 'text', post.title) }}
                    {{ form.select('user_id', 'Auteur', users, post.user_id) }}
                    {{ form.input('image', 'Url image', 'text', post.image) }}
                    {{ form.input('excerpt', 'Extrait', 'text', post.excerpt) }}
                    {{ form.textarea('content', 'Contenu', post.content) }}
                    {{ form.submit('Modifier') }}


                </form>
            </div>
        </div>
    </section>
{% endblock %}