{% extends template %}

{% block content %}
    <section class="s-content s-content--top-padding s-content--narrow">
            <article class="row entry format-standard">
                <div class="entry__media col-full">
                    <div class="entry__post-thumb">
                        <img src="{{ post.image }}" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                    </div>
                </div>

                <div class="entry__header col-full">
                    <h1 class="entry__header-title display-1">
                        {{ post.title }}
                    </h1>
                    <ul class="entry__header-meta">
                        <li class="date">{{ post.getLastDate() }}</li>
                        <li class="byline">
                            Par
                            <span>{{ post.getAuthor().username }}</span>
                        </li>
                    </ul>
                    {% if logged and logged_user.admin %}
                        <a href="index.php?p=admin_posts_edit&id={{ post.id }}">Editer</a>
                    {% endif %}

                </div>

                <div class="col-full entry__main">
                    <blockquote>
                        <p>{{ post.getExcerpt(true) }}</p>
                    </blockquote>
                    {{ post.getContent()|raw }}
                </div> <!-- s-entry__main -->
            </article> <!-- end entry/article -->


            <div class="comments-wrap">

                <div id="comments" class="row">
                    <div class="col-full">

                        <h3 class="h2">{{ commentsnumber }} Commentaire(s)</h3>
                        {% if not logged %}
                            <h5 class="comment-connect">Connectez vous pour poster un commentaire | <a href="index.php?p=auth&action=login"><span>Se connecter</span></a></h5>

                        {% endif %}

                        <!-- START commentlist -->
                        <ol class="commentlist">
                            {% for comment in comments %}
                                <li class="depth-1 comment">
                                    <div class="comment__avatar">
                                        <img class="avatar" src="{{ comment.getLogo() }}" alt="" width="50" height="50">
                                    </div>
                                    <div class="comment__content">
                                        <div class="comment__info">
                                            <div class="comment__author">{{ comment.author.username }}</div>

                                            <div class="comment__meta">
                                                <div class="comment__time">{{ comment.getDate() }}</div>
                                            </div>
                                        </div>
                                        <div class="comment__text">
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </div>
                                </li> <!-- end comment level 1 -->
                            {% endfor %}

                        </ol>
                        <!-- END commentlist -->

                    </div> <!-- end col-full -->
                </div> <!-- end comments -->

                {% if logged %}
                    <div class="row comment-respond">
                        <div id="respond" class="col-full">
                            <h3 class="h2">Ajouter un commentaire<span>Merci de remplir le champ ci dessous</span></h3>
                            <form method="post" action="#comment" id="comment">
                                {{ commentform.show() }}
                            </form>
                        </div>
                    </div>
                {% endif %}

            </div> <!-- end comments-wrap -->


    </section>
{% endblock %}